<% layout('layout.ejs') -%>

<% block('title', title); -%>

<div ng-app="aqvaApp">
    <div ng-view></div>
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
<script src="/js/bower_components/angular/angular.js"></script>
<script src="/js/bower_components/angular-route/angular-route.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>-->
<script src="/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/js/app/fes.js"></script>
<script src="/js/app/routes.js"></script>
<script src="/js/vm/main/main.js"></script>
<script src="/js/vm/newOrder/newOrder.js"></script>
<script src="/js/vm/tours/tours.js"></script>


